.longform-primary .public,
.longform-primary p,
.longform-primary h1,
.longform-primary h2,
.longform-primary h3,
.longform-primary h4,
.longform-primary h5,
.longform-primary h6 {
    max-width: 670px;
    margin: auto;
}
.longform-primary .title {
    border-bottom: 1px solid #AD0814;
    margin-bottom: 1.25rem;
}
.longform-primary p {
    font-size: 17px;
    font-family: "Noto Serif", serif;
    line-height: 1.75rem;
    margin-bottom: 1.5rem;
    color: #444;
}
.longform-primary h2,
.longform-primary h3,
.longform-primary h4 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 50px;
    color: #444;
    margin-bottom: 1.25rem;
}
.longform-primary figcaption {
    border-bottom: 1px solid #828282;
    margin-bottom: 1.25rem;
}
.longform-primary figcaption .expEdit {
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
    color: #828282;
    font-family: "Noto Serif", serif;
    margin: 0;
}
.longform-primary figure {
    background: #fff;
}
.longform-primary figure.expNoEdit.full {
    width: auto;
    height: auto;
    margin: auto;
}

.longform-primary figure.expNoEdit.large {
    max-width: 1400px;
    margin: auto;
    clear: both;
}
.longform-primary figure.expNoEdit.medium {
    max-width: 980px;
    margin: auto;
    clear: both;
}
.longform-primary figure.expNoEdit.small {
    max-width: 800px;
    margin: auto;
    clear: both;
}
.longform-primary figure.expNoEdit.two img{
    width: 49%;
    display: inline-block;
}
.longform-primary figure.expNoEdit.two img:first-child{
    float: left;
}
.longform-primary figure.expNoEdit.two img:nth-child(2){
    float: right;
}
.longform-primary figure.expNoEdit.three img{
    width: 33%;
    display: inline-block;
}
.longform-primary figure.expNoEdit.three img:first-child{
    float: left;
}
.longform-primary figure.expNoEdit.three img:nth-child(2){
    margin-left: 6px;
}
.longform-primary figure.expNoEdit.three img:nth-child(3){
    float: right;
}
.longform-primary figure.expNoEdit.right {
    float: right;
    width: auto!important;
    margin-left: 40px!important;
    text-align: right;
    max-width: 400px;
}
.longform-primary figure.expNoEdit.left {
    float: left;
    width: auto!important;
    margin-right: 40px!important;
    text-align: left;
    max-width: 400px;
}
.longform-primary__right {
    margin-left: -50px;
    z-index: 10;
    width: 100% !important;
}